.other-message {
    display: flex;
    justify-content: flex-start;
  }

.other-message ion-card {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 20%;
    max-width: 550px;
}

.other-message ion-card-content {
    padding: 8px;
}

.self-message {
    display: flex;
    justify-content: flex-end;
  }

.self-message ion-card {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20%;
    margin-right: 5px;
    max-width: 550px;
}

.self-message ion-card-content {
    padding: 8px;
}
