<ion-content>
  <ion-slides pager="true">
    <!-- Slides -->
    <ion-slide>
      <ion-card>
        <ion-icon class="big-icon" name="enter" color="success"></ion-icon>
        <ion-card-header>
          <ion-card-title>Recuperar contraseña</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-items">
          <!-- Links-->
          <ion-item button (click)="recover()">
            <ion-icon slot="end" name="log-in"></ion-icon>
            <ion-label>
              Recuperar
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- Fab buttons -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="toggleTheme()">
      <ion-icon [name]="themeIcon" [color]="themeColor"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
