<ion-content>
  Aquí va el recover
  <ion-item button (click)="recover()">
    <ion-icon slot="end" name="log-in"></ion-icon>
    <ion-label>
      Recuperar
    </ion-label>
  </ion-item>
  <a routerLink="/login">Iniciar sesión</a>
  <a routerLink="/register">Registro</a>
  <!-- Fab buttons -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="toggleTheme()">
      <ion-icon [name]="themeIcon" [color]="themeColor"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
