<ion-content>
  <ion-slides pager="true">
    <!-- Slides -->
    <ion-slide>
      <ion-card>
        <ion-icon class="big-icon" name="color-wand" color="tertiary"></ion-icon>
        <ion-card-header>
          <ion-card-title>Recuperar contraseña</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-items">
          <!-- Inputs -->
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input [(ngModel)]="credential.email" autocomplete="email"></ion-input>
          </ion-item>
          <!-- Buttons-->
          <ion-item button (click)="recover()" [disabled]="!ready()">
            <ion-icon slot="end" name="color-wand"></ion-icon>
            <ion-label>
              Recuperar
            </ion-label>
          </ion-item>
          <!-- Links -->
          <br />
          <a routerLink="/login">Inicio de sesión</a>
          <br />
          <a routerLink="/register">Registro</a>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- Fab buttons -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="toggleTheme()">
      <ion-icon [name]="themeIcon" [color]="themeColor"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
