<ion-content>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="app/home"></ion-back-button>
          </ion-buttons>
          <ion-title size="large">Channels</ion-title>
          <ion-buttons slot="end" routerLink="/app/channels/new">
            <ion-icon slot="icon-only" ios="add-outline" md="add-sharp"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-channel-menu></app-channel-menu>
      </ion-content>
    </ion-menu>
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-content>
