<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid class="fill-content">
    <ion-row class="fill-content ion-justify-content-center ion-align-items-center">
      <ion-col size="12" size-sm="8" size-md="6" size-lg="4" size-xl="2">
        <ion-card class="bottom-margin">
          <ion-card-header>
            <ion-card-title class="ion-text-center">Log into Orion Chat</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list lines="full" class="ion-no-margin ion-no-padding">
              <ion-item>
                <ion-label position="stacked">Username</ion-label>
                <ion-input type="username" placeholder="Username" name="username" [(ngModel)]="credentials.username">
                </ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="error.username">{{ error.username }}</ion-label>
              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="credentials.password">
                </ion-input>
              </ion-item>
              <ion-label color="danger" *ngIf="error.password">{{ error.password }}</ion-label>
            </ion-list>
            <ion-label color="danger" *ngIf="error.credentials">{{ error.credentials }}</ion-label>
            <ion-button (click)="login()" color="success" fill="clear" expand="block">
              Login
            </ion-button>
            <ion-button routerLink="/register" routerDirection="forward" color="secondary" fill="clear" expand="block">
              Register
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
