<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-hide-md-up" [class.ion-hide]="!showTabs()">
    <!-- Chats tab -->
    <ion-tab-button tab="chats">
      <ion-icon [name]="activeIcon('chats', 'chatbubbles')"></ion-icon>
    </ion-tab-button>
    <!-- Contacts tab -->
    <ion-tab-button tab="contacts">
      <ion-icon [name]="activeIcon('contacts', 'people')"></ion-icon>
    </ion-tab-button>
    <!-- Spaces tab -->
    <ion-tab-button tab="spaces">
      <ion-icon [name]="activeIcon('spaces', 'file-tray-full')"></ion-icon>
    </ion-tab-button>
    <!-- Settings tab -->
    <ion-tab-button tab="settings">
      <ion-icon [name]="activeIcon('settings', 'cog')"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
