<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card color="primary">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-card-header>
          <ion-card-title>Envía y recibe mensajes</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="secondary">
        <ion-icon name="file-tray-full"></ion-icon>
        <ion-card-header>
          <ion-card-title>Organiza tus conversaciones</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="tertiary">
        <ion-icon name="documents"></ion-icon>
        <ion-card-header>
          <ion-card-title>Mantén las cosas importantes cerca</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card color="light">
        <ion-icon name="enter"></ion-icon>
        <ion-card-header>
          <ion-card-title>Inicia sesión en Tomatoe Chat</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
