<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      App features
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Orion Chat</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item-group *ngFor="let group of pageGroups">
    <ion-item-divider>
      <ion-label>
        {{ group.title }}
      </ion-label>
    </ion-item-divider>
    <ion-grid>
      <ion-row class="ion-align-items-stretch">
        <ion-col size="12" size-md *ngFor="let page of group.pages">
          <ion-card class="no-margin full-height" button="true" color="{{ group.color }}" routerDirection="root" [routerLink]="[page.url]">
            <ion-card-header>
              <ion-icon size="medium" [ios]="page.icon + '-outline'" [md]="page.icon + '-sharp'"></ion-icon>
              <ion-card-title>{{ page.title }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-content>
