<ion-item-group>
  <ion-item-divider>
    <ion-label>My channels</ion-label>
  </ion-item-divider>
  <ion-menu-toggle auto-hide="false" *ngFor="let channel of channels">
    <ion-item routerDirection="root" routerLink="/app/channels/{{channel.id}}" lines="none" detail="false" color="{{ isUrlActive('channels/' + channel.id) ? 'success' : '' }}">
      <ion-icon slot="start" [ios]="'people-outline'" [md]="'people-sharp'"></ion-icon>
      <ion-label>
        <h2>{{ channel.title }}</h2>
        <p>{{ channel.description }}</p>
      </ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-item-group>
