<ion-item-group>
  <ion-item-divider>
    <ion-label>My channels</ion-label>
  </ion-item-divider>
  <ion-menu-toggle auto-hide="false" *ngFor="let channel of all()">
    <ion-item routerDirection="root" routerLink="/app/channels/{{channel.id}}" lines="none" detail="false" color="{{ isUrlActive('channels/' + channel.id) ? 'success' : '' }}">
      <ion-icon slot="start" [ios]="'people-sharp'" [md]="'people-sharp'"></ion-icon>
      <ion-label>
        <h2>{{ channel.title }}</h2>
        <p>{{ channel.description }}</p>
      </ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-item-group>
<ion-fab horizontal="center" vertical="bottom" slot="fixed">
  <ion-fab-button color="success" routerLink="/app/channels/new">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
