<ion-tabs>
  <ion-tab-bar class="ion-hide-lg-up {{ panel.hidden ? 'ion-hide' : '' }}" slot="bottom">
    <!-- Home tab -->
    <ion-tab-button tab="home">
      <ion-icon [ios]="'home-outline'" [md]="'home-sharp'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <!-- Channels tab -->
    <ion-tab-button tab="channels">
      <ion-icon [ios]="'chatbubbles-outline'" [md]="'chatbubbles-sharp'"></ion-icon>
      <ion-label>Channels</ion-label>
    </ion-tab-button>
    <!-- Workspaces tab -->
    <ion-tab-button tab="workspaces" class="ion-hide-sm-down">
      <ion-icon [ios]="'briefcase-outline'" [md]="'briefcase-sharp'"></ion-icon>
      <ion-label>Workspaces</ion-label>
    </ion-tab-button>
    <!-- Search tab -->
    <ion-tab-button tab="search">
      <ion-icon [ios]="'search-outline'" [md]="'search-sharp'"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    <!-- More tab -->
    <ion-tab-button tab="more">
      <ion-icon [ios]="'ellipsis-horizontal-outline'" [md]="'ellipsis-horizontal-sharp'"></ion-icon>
      <ion-label>More</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
