<ion-content>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="app/home"></ion-back-button>
          </ion-buttons>
          <ion-title size="large">Workspaces</ion-title>
          <ion-buttons slot="end" routerLink="/app/workspaces/new">
            <ion-icon slot="icon-only" ios="add-outline" md="add-sharp"></ion-icon>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>My workspaces</ion-label>
          </ion-item-divider>
          <ion-menu-toggle auto-hide="false" *ngFor="let workspace of workspaces.all()">
            <ion-item routerDirection="root" routerLink="/app/workspaces/{{workspace.id}}" lines="none" detail="false" color="{{ isUrlActive('workspaces/' + workspace.id) ? 'primary' : '' }}">
              <ion-label>
                <h2>{{ workspace.title }}</h2>
                <p>{{ workspace.description }}</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-item-group>
      </ion-content>
    </ion-menu>
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-content>
