<ion-content>
  <ion-slides pager="true">
    <!-- Slides -->
    <ion-slide>
      <ion-card>
        <ion-icon class="big-icon" name="enter" color="primary"></ion-icon>
        <ion-card-header>
          <ion-card-title>Iniciar sesión</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-items">
          <!-- Inputs -->
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input [(ngModel)]="credential.email" autocomplete="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="credential.password" autocomplete="current-password" type="password"></ion-input>
          </ion-item>
          <!-- Buttons -->
          <ion-item button (click)="login()" [disabled]="!ready()">
            <ion-icon slot="end" name="log-in"></ion-icon>
            <ion-label>
              Iniciar sesión
            </ion-label>
          </ion-item>
          <!-- Links -->
          <br />
          <a routerLink="/register">Registro</a>
          <br />
          <a routerLink="/recover">Recuperar contraseña</a>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- Fab buttons -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="toggleTheme()">
      <ion-icon [name]="themeIcon" [color]="themeColor"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
