<ion-content>
  <ion-slides pager="true">
    <!-- Slides -->
    <ion-slide>
      <ion-card>
        <ion-icon class="big-icon" name="reader" color="secondary"></ion-icon>
        <ion-card-header>
          <ion-card-title>Registro</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-items">
          <!-- Inputs -->
          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input [(ngModel)]="credential.email" autocomplete="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input [(ngModel)]="credential.password" autocomplete="new-password" type="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar contraseña</ion-label>
            <ion-input [(ngModel)]="credential.passwordConfirmation" autocomplete="new-password" type="password">
            </ion-input>
          </ion-item>
          <!-- Buttons -->
          <ion-item button (click)="register()" [disabled]="!ready()">
            <ion-icon slot="end" name="reader"></ion-icon>
            <ion-label>
              Registrarme
            </ion-label>
          </ion-item>
          <!-- Links -->
          <br />
          <a routerLink="/login">Inicio de sesión</a>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <!-- Fab buttons -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light" (click)="toggleTheme()">
      <ion-icon [name]="themeIcon" [color]="themeColor"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
