<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-icon *ngIf="ready; else loadingSpinner" class="big-icon" name="shield-checkmark"
          [color]="error ? 'danger' : 'success'">
        </ion-icon>
        <ng-template #loadingSpinner>
          <ion-spinner class="big-icon" name="circles" color="secondary"></ion-spinner>
        </ng-template>
        <ion-card-header>
          <ion-card-title>{{ title() }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ content() }}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
