<ion-item-group *ngFor="let group of menuGroups | async">
  <ion-item-divider>
    <ion-label>{{ group.title }}</ion-label>
  </ion-item-divider>
  <ion-menu-toggle auto-hide="false" *ngFor="let page of group.items">
    <ion-item routerDirection="root" [routerLink]="[page.url]" lines="none" detail="false"
      color="{{ isUrlActive(page.url) ? 'tertiary' : '' }}">
      <ion-icon slot="start" [name]="page.icon"></ion-icon>
      <ion-label>{{ page.title }}</ion-label>
    </ion-item>
  </ion-menu-toggle>
</ion-item-group>
