<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        Paleta de colores
      </ion-label>
    </ion-item-divider>
    <app-big-button *ngFor="let color of colors" [title]="color" [color]="color"></app-big-button>
  </ion-item-group>
</ion-content>
