<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>
        Paleta de colores
      </ion-label>
    </ion-item-divider>
    <ion-grid>
      <ion-row class="ion-align-items-stretch">
        <ion-card *ngFor="let color of colors" class="setting-card" [color]="color">
          <ion-card-content style="padding: 10px;">
            Color {{ color }}
          </ion-card-content>
        </ion-card>
      </ion-row>
    </ion-grid>
  </ion-item-group>
</ion-content>
