<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- Home tab -->
    <ion-tab-button tab="home">
      <ion-icon [name]="activeIcon('home', 'home')"></ion-icon>
    </ion-tab-button>
    <!-- Chats tab -->
    <ion-tab-button tab="chats">
      <ion-icon [name]="activeIcon('chats', 'chatbubbles')"></ion-icon>
    </ion-tab-button>
    <!-- Spaces tab -->
    <ion-tab-button tab="spaces">
      <ion-icon [name]="activeIcon('spaces', 'file-tray-full')"></ion-icon>
    </ion-tab-button>
    <!-- Files tab -->
    <ion-tab-button tab="files">
      <ion-icon [name]="activeIcon('files', 'documents')"></ion-icon>
    </ion-tab-button>
    <!-- Settings tab -->
    <ion-tab-button tab="settings">
      <ion-icon [name]="activeIcon('settings', 'cog')"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
