<ion-content>
  <ion-split-pane contentId="main">
    <!--  the side menu  -->
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/"></ion-back-button>
          </ion-buttons>
          <ion-title size="large">Channels</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let channel of channels">
            <ion-item routerDirection="root" [routerLink]="[channel.url]" lines="none" detail="false"
              color="{{ isUrlActive(channel.url) ? 'secondary' : '' }}">
              <ion-icon slot="start" [ios]="'people-outline'" [md]="'people-sharp'"></ion-icon>
              <ion-label>
                <h2>{{ channel.title }}</h2>
                <p>{{ channel.description }}</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- the main content -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-content>
