<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <!-- Slides -->
    <ion-slide>
      <ion-card>
        <ion-icon class="big-icon" name="shield-checkmark" color="success"></ion-icon>
        <ion-card-header>
          <ion-card-title>Verificación</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-items">
          <!-- Links-->
          <!-- <ion-item button (click)="login()">
            <ion-icon slot="end" name="log-in"></ion-icon>
            <ion-label>
              Iniciar sesión
            </ion-label>
          </ion-item>
          <ion-item button (click)="register()">
            <ion-icon slot="end" name="list"></ion-icon>
            <ion-label>
              Registrarme
            </ion-label>
          </ion-item> -->
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
