name: Firestore Backups
on:
  workflow_dispatch:
    inputs:
      name:
        description: "Backup"
        default: "Backup"
        required: false
  schedule:
    - cron: "0 0 * * 1"
jobs:
  backup:
    runs-on: ubuntu-latest
    steps:
      - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.GCP_SA_KEY }}
      - run: gcloud config set project tomatoe-chat
      - run: gcloud firestore export gs://tomatoe-chat.appspot.com
